<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/header'); %>
  <main class="container">

    <div class="text-center">
      <h1>Home</h1>
    </div>



  </main>
  <%- include('../partials/footer'); %>
</body>
</html>